In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
sales = pd.read_excel('sales_data.xlsx')
date = pd.read_excel('date.xlsx')

In [36]:
#sales_ori = sales
#date_ori = date

In [71]:
#sales = sales_ori

In [72]:
date.columns

Index(['timestamp              ', 'date', 'day_name', 'day_of_month',
       'month_of_year', 'time_of_day(hh:mm:ss)'],
      dtype='object')

In [80]:
date.rename(columns = {'timestamp              ':'transaction timestamp'}, inplace = True)

In [81]:
sales.shape[0] == date.shape[0]

True

In [82]:
sales.columns

Index(['transaction id', 'product id', 'product description', 'quantity sold',
       'transaction timestamp', 'unit price', 'customer id',
       'transaction country'],
      dtype='object')

In [ ]:
merge = pd.merge(sales, date, on=['transaction timestamp'])

In [ ]:
merge.head()

In [38]:
max(sales['transaction timestamp'])

Timestamp('2011-12-09 12:50:00')

In [39]:
min(sales['transaction timestamp'])

Timestamp('2010-12-01 08:26:00')

In [40]:
countries = sales['transaction country'].unique()
countries.sort()
print(countries)

['Australia' 'Austria' 'Bahrain' 'Belgium' 'Brazil' 'Canada'
 'Channel Islands' 'Cyprus' 'Czech Republic' 'Denmark' 'EIRE'
 'European Community' 'Finland' 'France' 'Germany' 'Greece' 'Hong Kong'
 'Iceland' 'Israel' 'Italy' 'Japan' 'Lebanon' 'Lithuania' 'Malta'
 'Netherlands' 'Norway' 'Poland' 'Portugal' 'RSA' 'Saudi Arabia'
 'Singapore' 'Spain' 'Sweden' 'Switzerland' 'USA' 'United Arab Emirates'
 'United Kingdom' 'Unspecified']

In [41]:
type(sales['transaction timestamp'])

pandas.core.series.Series

In [42]:
missing_values_count = sales.isnull().sum()
missing_values_count

transaction id                0
product id                    0
product description        1454
quantity sold                 0
transaction timestamp         0
unit price                    0
customer id              135080
transaction country           0
dtype: int64

In [43]:
products = sales['product description'].unique()
print(len(products))
products

4224

array(['WHITE HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN',
       'CREAM CUPID HEARTS COAT HANGER', ..., 'lost',
       'CREAM HANGING HEART T-LIGHT HOLDER',
       'PAPER CRAFT , LITTLE BIRDIE'], dtype=object)

In [44]:
# convert to lower case
sales['product description'] = sales['product description'].str.lower()
# remove trailing white spaces
sales['product description'] = sales['product description'].str.strip()

In [45]:
sales = sales.drop_duplicates()

In [46]:
missing_values_count = sales.isnull().sum()
missing_values_count

transaction id                0
product id                    0
product description        1455
quantity sold                 0
transaction timestamp         0
unit price                    0
customer id              135037
transaction country           0
dtype: int64

In [78]:
sales.shape

(541909, 8)

In [48]:
sales_ori.shape

(541909, 8)

In [49]:
sales.rename(index=str, columns={'transaction id': 'transID',
                              'product id' : 'prdtID',
                              'product description' : 'description',
                              'quantity sold' : 'quantity',
                              'transaction timestamp' : 'date',
                              'unit price' : 'price',
                              'customer id' : 'custID',
                              'transaction country' : 'country'}, inplace=True)

C:\Users\Riya\Anaconda3\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [79]:
sales.head()

,transaction id,product id,product description,quantity sold,transaction timestamp,unit price,customer id,transaction country
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [51]:
sales.describe()

            quantity          price         custID
count  536641.000000  536641.000000  401604.000000
mean        9.620029       4.632656   15281.160818
std       219.130156      97.233118    1714.006089
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13939.000000
50%         3.000000       2.080000   15145.000000
75%        10.000000       4.130000   16784.000000
max     80995.000000   38970.000000   18287.000000

In [62]:
sales_neg_quan = sales[sales.quantity < 0]

In [64]:
sales_neg_price = sales[sales.price < 0]

In [65]:
free = sales[sales.price == 0]

In [66]:
nosale = sales[sales.quantity == 0]

In [68]:
sales = sales[sales.quantity > 0]
sales = sales[sales.price > 0]

In [69]:
sales.shape

(524878, 8)

In [70]:
sales.describe()

            quantity          price         custID
count  524878.000000  524878.000000  392692.000000
mean       10.616600       3.922573   15287.843865
std       156.280031      36.093028    1713.539549
min         1.000000       0.001000   12346.000000
25%         1.000000       1.250000   13955.000000
50%         4.000000       2.080000   15150.000000
75%        11.000000       4.130000   16791.000000
max     80995.000000   13541.330000   18287.000000