In [2]:
import pandas as pd

In [3]:
sales = pd.read_csv('Sales_Data.csv')

sales.head()

,transaction id,product id,product description,quantity sold,transaction timestamp,unit price,customer id,transaction country,date,day_name,day_of_month,month_of_year,time_of_day(hh:mm:ss)
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01,Wednesday,1,December,08:26:00
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,Wednesday,1,December,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01,Wednesday,1,December,08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,Wednesday,1,December,08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,Wednesday,1,December,08:26:00

In [4]:
n1 = sales['transaction id'].apply(lambda x:int('C' in x)).sum()
n2 = sales.shape[0]
print(n1/n2*100)

1.7139409015166756

In [5]:
cancelled.head()

NameError: name 'cancelled' is not defined

In [8]:
len(sales['transaction id'].unique())

25900

In [10]:
len(sales['customer id'].unique())

4373