In [3]:
import pandas as pd

In [18]:
sales = pd.read_excel('sales_data.xlsx')
date = pd.read_excel('date.xlsx')

In [19]:
date.columns

Index(['timestamp              ', 'date', 'day_name', 'day_of_month',
       'month_of_year', 'time_of_day(hh:mm:ss)'],
      dtype='object')

In [20]:
sales.columns

Index(['transaction id', 'product id', 'product description', 'quantity sold',
       'transaction timestamp', 'unit price', 'customer id',
       'transaction country'],
      dtype='object')

In [21]:
date.rename(columns = {'timestamp              ':'transaction timestamp'}, inplace = True)

In [22]:
sales.shape[0] == date.shape[0]

True

In [23]:
test = sales['transaction timestamp'] == date['transaction timestamp']

In [24]:
len(test) - test.sum()

0

In [29]:
date.drop(['transaction timestamp'], axis=1, inplace=True)

In [30]:
merge = pd.concat([sales,date], axis=1)

In [31]:
merge.head()

,transaction id,product id,product description,quantity sold,transaction timestamp,unit price,customer id,transaction country,date,day_name,day_of_month,month_of_year,time_of_day(hh:mm:ss)
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01,Wednesday,1,December,08:26:00
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,Wednesday,1,December,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01,Wednesday,1,December,08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,Wednesday,1,December,08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,Wednesday,1,December,08:26:00

In [32]:
merge.to_csv('my_sales_data.csv')

In [33]:
merge.to_csv('Sales_Data.csv', index=False)